#profile-card {
  width: 17vw;
}

#profile-list {
  display: flex;
}

@media screen and (max-width: 1250px) {
  #profile-card {
    width: 21vw;
  }
}

@media screen and (max-width: 1000px) {
  #profile-card {
    width: 28vw;
  }
}

@media screen and (max-width: 800px) {
  #profile-card {
    width: 42vw;
  }
}

@media screen and (max-width: 575px) {
  #profile-card {
    width: 100vw;
  }
}
